{% extends "network/layout.html" %} {% load static %} {% block title %}
    {{ user.username }} | Friends
{% endblock %}

{% block body %}

    {% for friend_request in friends %}
        <div class="card">
            <div class="card-header" id="friend_request_header_{{friend_request.id}}">
                {% if friend_request.to_user == request.user %}
                    {{ friend_request.from_user }}
                {% else %}
                    {{ friend_request.to_user }}
                {% endif %}
                <button type="button" class="btn btn-secondary text-right" id="remove_friend_button" data-friend_request_id="{{ friend_request.id }}">Unfriend</button>
            </div>
        </div>
    {% empty %}
        <div>No friends</div>
    {% endfor %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/js/remove_friend.js' %}"></script>
{% endblock %}