{% extends "network/layout.html" %} {% load static %} {% block title %}
{{ user.username }} | Friend Requests
{% endblock %}

{% block body %}

    {% for friend_request in friend_requests %}
        <div class="card">
            <div class="card-header" id="friend_request_header_{{friend_request.id}}">
                <a href="{% url 'profile' friend_request.from_user.id %}">{{ friend_request.from_user }}</a> sent you a friend request
                <div class="btn-group text-right">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Respond
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'friend_requests' %}" id="accept_friend_request_button" data-friend_request_id="{{ friend_request.id }}">Confirm </a>
                        <a class="dropdown-item" href="{% url 'friend_requests' %}" id="decline_friend_request_button" data-friend_request_id="{{ friend_request.id }}">Delete request</a>
                    </div>
                </div>
            </div>
        </div>

    {% empty %}
        <div>No Friend Requests</div>
    {% endfor %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/js/decline_friend_request.js' %}"></script>
    <script src="{% static 'network/js/accept_friend_request.js' %}"></script>
{% endblock %}