{% extends "network/layout.html" %} {% load static %} 

{% block title %}Network{% endblock %}

{% block body %}

    <div id="newPost">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Post</h5>
                <form>
                    <textarea id="post_content" class="form-control" placeholder="What's on your mind {{ request.user.username }}?"></textarea>
                    <input type="submit" class="btn btn-primary" value="Post">
                </form>            
            </div>
        </div>
    </div>

    {% for post in posts %}
        {% include "network/posts.html" %}
    {% empty %}
        <div>No posts.</div>
    {% endfor %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/js/create_post.js' %}"></script>
{% endblock %}