{% extends "network/layout.html" %} {% load static %} 

{% block title %}Network{% endblock %}

{% block body %}

    <div id="newPost">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Post</h5>
                <form action="{% url 'create_post' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-primary" value="Post">
                </form>            
            </div>
        </div>
    </div>

    {% for post in posts %}
        {% include "network/posts.html" %}
    {% empty %}
        <div>No posts.</div>
    {% endfor %}

    <div id="request_cards">
        
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/js/index.js' %}"></script>
{% endblock %}