{% extends "network/layout.html" %} {% load static %} {% block title %}
    {{ profile.user.username }} | Profile
{% endblock %}

{% block body %}

    <div id="profile">
        <div class="card">
            <div class="card-header">
                <div>
                    <img class="profile_picture" src="{{ profile.picture.url }}" alt="Profile Picture">
                    <div class="profile-username">
                        {{ profile.user.username }}
                    </div>
                    <div class="profile-name">
                        {{ profile.name }}
                    </div>
                    <div class="profile-bio">
                        Bio: {{ profile.bio }}
                    </div>
                    {% if friend_request_available or self_in_friend_request or currently_friended %}
                        {% if currently_friended %}
                            <button type="button" class="btn btn-primary" id="remove_friend_button" data-profile_id="{{ profile.user.id }}">Friends</button>
                        {% elif self_in_friend_request %}
                            <button type="button" class="btn btn-primary" id="cancel_friend_request_button" data-profile_id="{{ profile.user.id }}">Cancel Request</button>
                        {% else %}
                            <button type="button" class="btn btn-primary" id="send_friend_request_button" data-profile_id="{{ profile.user.id }}">Add Friend</button>
                        {% endif %}
                    {% endif %}
                </div>
                <div>
                    <span id="friends_amount">{{ profile.friends.count }}</span>
                    <span>friends</span>
                </div>
                <div>
                    {% if request.user == profile.user %}
                        <a href="{% url 'edit_profile' profile.user.id %}">
                            <img src="{% static 'network/images/pen.svg' %}" alt="Profile Edit Button">
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% for post in posts %}
        {% include "network/posts.html" %}
    {% empty %}
        <div>No posts.</div>
    {% endfor %}

{% endblock body %}

{% block script %}
    <script src="{% static 'network/js/remove_profile_friend.js' %}"></script>
    <script src="{% static 'network/js/send_friend_request.js' %}"></script>
    <script src="{% static 'network/js/cancel_friend_request.js' %}"></script>
{% endblock %}