{% extends "network/layout.html" %} {% load static %}

{% block title %}Network{% endblock %}

{% block body %}

{% if not search %}
    <div id="newPost">
        <input type="hidden" value="{{ request.user.username }}" id="loggedInUsername">
        <div class="card">
            <div class="card-body">
                <a href="{% url 'profile' request.user.id %}">
                    <img src="{{ request.user.profile.picture.url }}" class="d-inline" alt="Logged in Profile Picture"
                        width="40px" height="40px" style="border-radius: 50%">
                </a>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal" id="postModal">What's on your
                    mind, {{ request.user.username }}?</button>
            </div>
        </div>
    </div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h4 class="modal-title w-100">Create Post</h4>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="newPost">
                    <a href="{% url 'profile' request.user.id %}">
                        <img src="{{ request.user.profile.picture.url }}" class="d-inline"
                            alt="Logged in Profile Picture" width="40px" height="40px" style="border-radius: 50%">
                    </a>
                    {{ request.user.username }}
                    <div class="form-group" style="float: right;">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="only_friends" checked>
                            <label class="form-check-label" for="flexRadioDefault1">
                                Friends
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="only_me">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Only me
                            </label>
                        </div>    
                    </div>
                    <div class="mt-3">
                        <textarea id="post_content" placeholder="What's on your mind, {{ request.user.username }}?"
                        class="form-control"></textarea>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <input id="post_submit" type="submit" class="btn btn-primary btn-block" value="Post">
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if search %}
    <div class="card">
        <div class="card-header" style="font-size: 20px;">Users</div>
        {% for profile in profiles %}
            {% include "network/profiles.html" %}
        {% empty %}
            <div class="d-flex justify-content-center text-muted">
                <h4 class="mt-3 mb-3">No users available</h4>
            </div>
        {% endfor %}
    </div>
    <div class="card">
        <div class="card-header" style="font-size: 20px;">Posts</div>
        {% for post in posts %}
            {% include "network/posts.html" %}
        {% empty %}
            <div class="d-flex justify-content-center text-muted">
                <h4 class="mt-3 mb-3">No posts available</h4>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="card mt-2">
        <div class="card-header mb-2" style="font-size: 20px;">Posts</div>
        {% for post in posts %}
            {% include "network/posts.html" %}
        {% empty %}
            <div class="d-flex justify-content-center text-muted">
                <h4 class="mt-3 mb-3">No posts available</h4>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

{% block script %}
    {% if not search %}
        <script src="{% static 'network/js/create_post.js' %}"></script>
    {% endif %}
{% endblock %}