{% if post.only_friends %}
    {% if post.author.user in request.user.profile.friends.all or request.user in post.author.friends.all or post.author.user == request.user %}
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">
                    <img src="{{ post.author.picture.url }}" alt="Post Auhor Profile Picture" width="40px" height="40px"
                        style="border-radius: 50%" class="postAuthorPicture">
                    <a href="{% url 'profile' post.author.id %}">{{ post.author.user.username }}</a>
                </h5>
                <p class="card-text">{{ post.description }}</p>
                <p class="card-text text-muted">{{ post.timestamp }}</p>
                <a href="#" class="card-link">TODO</a>
            </div>
        </div>
    {% endif %}
{% endif %}
{% if post.only_me and post.author.user == request.user %}
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{% url 'profile' post.author.id %}">
                    <img src="{{ post.author.picture.url }}" alt="Post Auhor Profile Picture" width="40px" height="40px"
                        style="border-radius: 50%">
                    {{ post.author.user.username }}
                </a>
            </h5>
            <p class="card-text">{{ post.description }}</p>
            <p class="card-text text-muted">{{ post.timestamp }}</p>
            <a href="#" class="card-link">TODO</a>
        </div>
    </div>
{% endif %}