{% extends "network/layout.html" %} {% load static %} {% block title %}
    {{ profile.user.username }} | Profile
{% endblock %}

{% block body %}

    <div id="profile">
        <div class="card">
            <div class="card-header d-flex">
                <div>
                    <img class="profile_picture" src="{{ profile.picture.url }}" alt="Profile Picture" style="border-radius: 50%">
                </div>
                <div class="d-flex flex-column">
                    <div class="profile-username">
                        <h1>
                            {{ profile.user.username }}
                        </h1>
                    </div>
                    <div>
                        <div id="friends_amount">
                            <a href="{% url 'profile_friends' profile.user.id %}">
                                {{ profile.friends.count }} Friends
                            </a>
                        </div>
                        <div class="profile-mutual-friends">
                            {{ mutual_friends_amount }}
                            {% for mutual_friend in mutual_friends %}
                                &middot; Mutual 
                                <a href="{% url 'profile' mutual_friend.id %}">
                                    <img src="{{ mutual_friend.profile.picture.url }}" alt="Mutual Friend Profile Picture" width="32" height="32" style="border-radius: 50%;">
                                </a>
                            {% endfor %}
                        </div>    
                    </div>
                    <div class="d-flex">
                        {% if request.user == profile.user %}
                        <a href="{% url 'edit_profile' profile.user.id %}">
                            <img src="{% static 'network/images/pen.svg' %}" alt="Profile Edit Button">
                            Edit profile
                        </a>
                        <a href="{% url 'account_reset_password' %}">Password Reset</a>
                        <a href="{% url 'account_change_password' %}">Password Change</a>
                    {% endif %}
                    </div>    

                </div>
                    <div class="profile-bio">
                        <h4>About</h4>
                        <p>{{ profile.bio }}</p>
                    </div>
                    {% if friend_request_available or self_in_friend_request or currently_friended or self_in_profile_friend_request %}
                        {% if currently_friended %}
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Friends</button>
                        {% elif self_in_friend_request %}
                            <button type="button" class="btn btn-primary" id="cancel_friend_request_button" data-profile_id="{{ profile.user.id }}">Cancel Request</button>
                        {% elif self_in_profile_friend_request %}
                            {{ profile.user.username }} sent you a friend request
                            <button type="button" class="btn btn-primary" id="accept_friend_request_button" data-friend_request_id="{{ friend_request_id }}">Confirm Request</button>
                            <button type="button" class="btn btn-secondary" id="decline_friend_request_button" data-friend_request_id="{{ friend_request_id }}">Delete Request</button>
                        {% else %}
                            <button type="button" class="btn btn-primary" id="send_friend_request_button" data-profile_id="{{ profile.user.id }}">Add Friend</button>
                        {% endif %}
                    {% endif %}
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Unfriend {{ profile.user.username }}</h4>
    
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    Are you sure you want to remove {{ profile.user.username }} as your friend?
                </div>
    
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="remove_friend_button" data-profile_id="{{ profile.user.id }}">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    {% for post in posts %}
        {% include "network/posts.html" %}
    {% empty %}
        <div class="d-flex justify-content-center text-muted">
            <h4 class="mt-4">No posts available</h4>
        </div>
    {% endfor %}

{% endblock body %}

{% block script %}
    <script src="{% static 'network/js/remove_profile_friend.js' %}"></script>
    <script src="{% static 'network/js/send_friend_request.js' %}"></script>
    <script src="{% static 'network/js/cancel_friend_request.js' %}"></script>
    <script src="{% static 'network/js/decline_friend_request.js' %}"></script>
    <script src="{% static 'network/js/accept_friend_request.js' %}"></script>
{% endblock %}