{% extends "network/layout.html" %} {% load static %} {% block title %}
    {{ profile.user.username }} | Mutual Friends
{% endblock %}

{% block body %}
    {% if not request.user == profile.user and not profile.user in request.user.profile.blocked.all %}
    <div class="card">
        <div class="card-header" style="font-size: 20px;">({{ profile.friends.all.count }}) Mutual Friends with <a href="{% url 'profile' profile.id %}">{{ profile.user.username }}</a></div>
        {% for mutual_friend in mutual_friends %}
                <div class="card-header d-flex">
                    <div>
                        <a href="{% url 'profile' mutual_friend.profile.id %}">
                            <img src="{{ mutual_friend.profile.picture.url }}" alt="" width="60px" height="60px"
                                style="border-radius: 50%">
                            {{ mutual_friend }}
                        </a>
                    </div>
                </div>
        {% empty %}
            <div class="d-flex align-items-center justify-content-center flex-column min-vh-100">
                <div class="p-2">
                    <img src="{% static 'network/images/null_states_people_gray_wash.svg' %}" width="112" height="112" alt="">
                </div>
                <div class="p-2 text-muted">
                    <h5 class="text-muted">When you have mutual friends with {{ profile.user.username }}, you'll see them here.</h5>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="d-flex align-items-center justify-content-center flex-column min-vh-100">
        <div>
            <img src="{% static 'network/images/permissions_gray_wash.svg' %}" alt="" width="112" height="112">
        </div>
        <div class="text-muted">
            <h4 class="mt-4">This content isn't available right now</h4>
        </div>
        <div class="text-muted">
            <p>When this happens, it's usually because the requested profile is located in your blocked users.</p>
        </div>
    </div>
    {% endif %}
    
{% endblock %}