<!-- chat/templates/chat/index.html -->
{% extends "network/layout.html" %} {% load static %} {% block title %}
    Chat Rooms | Network
{% endblock %}

{% block script %}
    <link rel="stylesheet" href="{% static 'chat/css/styles.css' %}" />
    <script src="{% static 'chat/js/update_room.js' %}"></script>
{% endblock %}

{% block body %}
<div id="frame" class="bg-light">
    <div id="sidepanel">
        <div id="contacts" class="d-flex flex-column">
            <div class="d-flex align-items-center" style="height: 80px; line-height: 80px">
                <h5 class="ml-3">Chat Rooms</h5>
            </div>
            {% for group in groups %}
            <div class="ml-3">
                <a href="{% url 'chat:room' group.name %}">
                    {{ group.name }}
                </a>
            </div>
            {% endfor %}
        </div>
        <div id="bottom-bar">
            <button id="addcontact" class="w-100" style="height: 48px;" data-toggle="modal" data-target="#chatRoomsModal">Manage Chat Rooms</button>
        </div>
    </div>
    <div class="content">
        <div class="d-flex align-items-center justify-content-center border border-top-0" style="min-height: 640px;">
            <div class="p-2 text-muted">
                <h5 class="text-muted">Select joined Chat Room to start chatting with other people!</h5>
            </div>
        </div>
    </div>
</div>

{% include "chat/roomsModal.html" %}

{% endblock %}