{% extends "network/layout.html" %}{% load static %} {% block script %}
	<link rel="stylesheet" href="{% static 'chat/css/styles.css' %}" />
	<script src="{% static 'chat/js/update_room.js' %}"></script>
{% endblock %}

{% block title %}
	Chat Room | {{ group.name }}
{% endblock %}

{% block body %}
	<div id="frame" class="bg-light">
		<div id="sidepanel">
			<div id="contacts" class="d-flex flex-column">
				<div class="d-flex align-items-center" style="height: 80px; line-height: 80px">
					<h5 class="ml-3">Chat Rooms</h5>
				</div>
				{% for group in groups %}
				<div class="ml-3">
					<a href="{% url 'chat:room' group.name %}">
						{{ group.name }}
					</a>
				</div>
				{% endfor %}
			</div>
			<div id="bottom-bar">
				<button id="addcontact" style="height: 48px;" data-toggle="modal" data-target="#chatRoomsModal">Manage Chat Rooms</button>
			</div>
		</div>
		<div class="content">
			<div class="contact-profile border border-top-0 d-flex align-items-center">
				<h5 class="ml-3">{{ group.name }} &middot; <a data-toggle="modal" data-target="#chatRoomMemberModal"
					style="cursor: pointer;">{{ group.users.all.count }} Members</a>
				</h5>
			</div>

			

			{% if request.user in group.users.all %}
			<div class="messages border-left">
				<ul id="chat-log">

				</ul>
			</div>

			<div class="message-input">
				<div class="wrap">
					<input id="chat-message-input" type="text" placeholder="Write your message..." />
					<button id="chat-message-submit" class="submit">
						<img src="{% static 'network/images/send.svg' %}" alt="">
					</button>
				</div>
			</div>
			{% else %}
			<div class="d-flex align-items-center justify-content-center border border-top-0" style="min-height: 640px;">
				<div class="p-2 text-muted">
					<h5 class="text-muted">First, you have to join a specified chat room, to see and type messages.</h5>
				</div>
			</div>
			{% endif %}
		</div>
	</div>

	{% include "chat/roomsModal.html" %}

	<script src="{% static 'chat/js/main.js' %}"></script>
	<script src="{% static 'chat/js/reconnecting-websocket.js' %}"></script>
	<script>	
		var roomName = {{ room_name_json }};
		var username = {{ username }};

		var chatSocket = new ReconnectingWebSocket(
			'ws://' + window.location.host +
			'/ws/chat/room' + roomName + '/');

		chatSocket.onopen = function (e) {
			fetchMessages();
		}

		chatSocket.onmessage = function (e) {
			var data = JSON.parse(e.data);
			if (data['command'] === 'messages') {
				for (let i = 0; i < data['messages'].length; i++) {
					createMessage(data['messages'][i]);
				}
			} else if (data['command'] === 'new_message') {
				createMessage(data['message']);
			}
		};

		chatSocket.onclose = function (e) {
			console.error('Chat socket closed unexpectedly');
		};

		document.querySelector('#chat-message-submit').disabled = true

		document.querySelector('#chat-message-input').onkeyup = function (e) {
			if (document.querySelector('#chat-message-input').value.length > 0) {
				document.querySelector('#chat-message-submit').disabled = false
			} else {
				document.querySelector('#chat-message-submit').disabled = true
			}

			if (e.keyCode === 13 &&	document.querySelector('#chat-message-submit').disabled !== true) {
				// enter, return
				document.querySelector('#chat-message-submit').click();
			}
		};

		document.querySelector('#chat-message-submit').onclick = function (e) {
			var messageInputDom = document.getElementById('chat-message-input');
			var message = messageInputDom.value;
			chatSocket.send(JSON.stringify({
				'command': 'new_message',
				'message': message,
				'from': username,
				'group_name': roomName
			}));

			messageInputDom.value = '';

			var messagesUl = document.querySelector('.messages')
			messagesUl.scrollTop = messagesUl.scrollHeight
		};

		function fetchMessages() {
			chatSocket.send(JSON.stringify({ 'command': 'fetch_messages', "group_name": roomName }));
		}

		function createMessage(data) {
			var author = document.createElement('a')
			author.href = `/profile/${data.author_id}`
			author.innerHTML = data['author'];

			var msgListTag = document.createElement('li');

			var wrapperTag = document.createElement('div');
			wrapperTag.className = "d-flex mb-4"

			var imgTagDiv = document.createElement('div')
			imgTagDiv.className = "mt-auto"

			var imgTag = document.createElement('img');
			imgTag.src = data["author_picture"];
			imgTag.addEventListener('click', () => {
				window.location.href = `/profile/${data.author_id}`
			})

			imgTagDiv.append(imgTag)

			wrapperTag.append(imgTagDiv)

			var contentTag = document.createElement('div')
			contentTag.className = 'd-flex flex-column'
			wrapperTag.append(contentTag)

			var inlineTag = document.createElement('div')
			contentTag.append(inlineTag)

			var timestampTag = document.createElement('div');
			timestampTag.className = "d-inline ml-1"
			timestampTag.textContent = `on ${data["timestamp"]}`

			inlineTag.append(author)
			inlineTag.append(timestampTag)

			var messageTagDiv = document.createElement('div')

			var messageTag = document.createElement('p')
			messageTag.className = "mb-0"
			messageTag.textContent = data.content;
			
			messageTagDiv.append(messageTag)
			contentTag.append(messageTagDiv)

			wrapperTag.append(contentTag)
			msgListTag.className = 'sent';

			msgListTag.append(wrapperTag)

			document.querySelector('#chat-log').appendChild(msgListTag);
		}
	</script>
{% endblock %}